/*
  CSS Base
*/
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  color: inherit; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
  color: inherit; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Profound Grid
 * 
 * Built in Sass (SCSS) this responsive/adaptive grid supports both fixed and fluid layouts, 
 * relative and fixed gutters, as well as your choice of semantic markup or generic '.grid-x' classes.
 * 
 * The biggest difference to other grid systems is the use of negative margins for column
 * placements, avoiding the subpixel rounding issues that usually break/uglify fluid layouts
 * in some browsers.
 * 
 * Nested columns are supported too, without having to reset the grid on each level. 
 *
 * Credits/Inspiration:
 * -------------------
 * Semantic Grid: http://www.semantic.gs
 * Susy: http://susy.oddbird.net
 * Negative Grid: http://chrisplaneta.com/freebies/negativegrid-fluid-css-grid-by-chris-planeta/
 *
 * @author Profound Creative Studio
 * @url http://www.profoundgrid.com
 * @url http://www.weareprofound.com 
 */
/**
 * Clearfix
 */
/**
 * Legacy Clearfix
 */
/**
 * Establish the grid-containing element.
 */
/**
 * Align an element to the grid.
 */
/**
 * Apply to any column to make it the last one of the current row.
 */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Prevent callout */
.nocallout {
  -webkit-touch-callout: none; }

.pressed {
  background-color: rgba(0, 0, 0, 0.7); }

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
  -webkit-appearance: none; }

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */
.gifhidden {
  position: absolute;
  left: -100%; }

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -999em; }

.ir br {
  display: none; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 800px) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for viewports that meet the condition */ }
/**
*
* Utils
*
**/
@font-face {
  font-family: 'fagonoboldtfregular';
  src: url("../fonts/fagonoboldtf-webfont.woff2") format("woff2"), url("../fonts/fagonoboldtf-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fagonomedtfregular';
  src: url("../fonts/fagonomediumtf-webfont.woff2") format("woff2"), url("../fonts/fagonomediumtf-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fagonoregulartfregular';
  src: url("../fonts/fagonoregulartf-webfont.woff2") format("woff2"), url("../fonts/fagonoregulartf-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*==========  MIXINS  ==========*/
/** 
 * Html5 Placeholder Polyfill - v2.1.0 - 2016-02-26 
 * web: http://blog.ginader.de/dev/jquery/HTML5-placeholder-polyfill/ 
 * issues: https://github.com/ginader/HTML5-placeholder-polyfill/issues 
 * Copyright (c) 2016 Dirk Ginader; Licensed MIT, GPL 
 */
span.placeholder {
  position: absolute;
  font-size: 75%;
  color: #999;
  font-family: sans-serif;
  padding: 4px 3px;
  z-index: 1;
  cursor: text; }
span.placeholder-hide-except-screenreader {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }
span.placeholder-hide {
  display: none; }

label.visuallyhidden-with-placeholder {
  height: auto !important;
  overflow: visible !important;
  position: absolute !important;
  left: -999em; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }
  .owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px); }
    .owl-carousel .owl-wrapper:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0; }
  .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%; }
    .owl-carousel .owl-wrapper-outer.autoHeight {
      -moz-transition: height 500ms ease-in-out;
      transition: height 500ms ease-in-out; }
  .owl-carousel .owl-item {
    float: left; }

/* display none until init */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer; }

/* mouse grab icon */
.grabbing {
  cursor: url(../images/grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5; }
.owl-theme .owl-controls .owl-buttons .owl-prev {
  position: absolute;
  top: 50%;
  left: 0px; }
.owl-theme .owl-controls .owl-buttons .owl-next {
  position: absolute;
  top: 50%;
  right: 0px; }
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }
.owl-theme .owl-controls .owl-pagination {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%; }
  .owl-theme .owl-controls .owl-pagination .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */ }
    .owl-theme .owl-controls .owl-pagination .owl-page span {
      display: block;
      width: 12px;
      height: 12px;
      margin: 5px 7px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: #ffffff; }
      .owl-theme .owl-controls .owl-pagination .owl-page span.owl-numbers {
        height: auto;
        width: auto;
        color: #FFF;
        padding: 2px 10px;
        font-size: 12px;
        -moz-border-radius: 30px;
        border-radius: 30px; }
    .owl-theme .owl-controls .owl-pagination .owl-page.active span {
      background-color: red; }
.owl-theme .owl-controls.clickable .owl-pagination .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

.owl-theme2 .owl-controls .owl-buttons {
  position: absolute;
  bottom: 10px; }
  .owl-theme2 .owl-controls .owl-buttons div {
    display: inline-block;
    margin: 5px;
    padding: 3px 10px;
    font-size: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 47px;
    min-width: 25px; }
  .owl-theme2 .owl-controls .owl-buttons .owl-prev {
    position: relative;
    bottom: 0px;
    left: 0px;
    background-image: url(../images/left-owl.png); }
  .owl-theme2 .owl-controls .owl-buttons .owl-next {
    position: relative;
    bottom: 0px;
    right: 0px;
    background-image: url(../images/right-owl.png); }
.owl-theme2 .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none; }
.owl-theme2 .owl-controls .owl-pagination {
  display: none;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%; }
  .owl-theme2 .owl-controls .owl-pagination .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */ }
    .owl-theme2 .owl-controls .owl-pagination .owl-page span {
      display: block;
      width: 12px;
      height: 12px;
      margin: 5px 7px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      background: #ffffff; }
      .owl-theme2 .owl-controls .owl-pagination .owl-page span.owl-numbers {
        height: auto;
        width: auto;
        color: #FFF;
        padding: 2px 10px;
        font-size: 12px;
        -moz-border-radius: 30px;
        border-radius: 30px; }
    .owl-theme2 .owl-controls .owl-pagination .owl-page.active span {
      background-color: red; }
.owl-theme2 .owl-controls.clickable .owl-pagination .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1; }

/* Styling Next and Prev buttons */
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
/* Styling Pagination*/
/* If PaginationNumbers is true */
/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../images/AjaxLoader.gif) no-repeat center center; }

@media (max-width: 960px) {
  .owl-theme2 .owl-controls .owl-buttons {
    display: none; }
  .owl-theme2 .owl-controls .owl-pagination {
    display: block; } }
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap iframe, .fancybox-wrap object {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-nav {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }
  .fancybox-nav span {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top; }

.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 99999; }
  .fancybox-opened .fancybox-skin {
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer {
  position: relative; }

.fancybox-inner {
  position: relative;
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(../images/fancybox_sprite.png); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }
  #fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(../images/fancybox_loading.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  width: 60px;
  height: 56px;
  top: 50%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(../images/blank.gif);
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0%; }

.fancybox-next {
  right: 0%; }

.fancybox-nav span {
  position: absolute;
  top: 0px;
  width: 40px;
  height: 56px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -42px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -100px; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }
  .fancybox-lock body {
    overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 9999;
  background: url(../images/fancybox_overlay.png); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }
  .fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgba(0, 0, 0, 0.8);
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(../images/fancybox_sprite@2x.png);
    -moz-background-size: 44px 152px;
         background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }

  #fancybox-loading div {
    background-image: url(../images/fancybox_loading@2x.gif);
    -moz-background-size: 24px 24px;
         background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }
#fancybox-thumbs {
  position: fixed;
  left: 0px;
  width: 100%;
  overflow: hidden;
  z-index: 9999;
  display: inline-block;
  text-align: center; }
  #fancybox-thumbs.bottom {
    bottom: 2%; }
  #fancybox-thumbs.top {
    top: 2px; }
  #fancybox-thumbs ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto !important; }
    #fancybox-thumbs ul li {
      float: left;
      padding: 0px;
      opacity: 1; }
      #fancybox-thumbs ul li.active {
        opacity: 0.50;
        padding: 0;
        background-color: #000; }
        #fancybox-thumbs ul li.active:hover {
          opacity: 0.50; }
      #fancybox-thumbs ul li:hover {
        opacity: 1; }
      #fancybox-thumbs ul li a {
        display: block;
        position: relative;
        overflow: hidden;
        outline: none; }
      #fancybox-thumbs ul li img {
        display: block;
        position: relative;
        border: 0;
        padding: 0;
        max-width: none; }

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.date-picker-date-time {
  position: absolute;
  z-index: 99991; }

.date-range .date-picker-date-time {
  position: inherit; }

[date-picker-wrapper] {
  position: absolute;
  min-width: 220px;
  z-index: 99991;
  display: block;
  font-size: 14px; }

[date-time-append] [date-picker-wrapper] [date-picker] {
  margin-top: -30px; }
[date-time-append] [date-picker] {
  position: relative;
  margin-right: -1000px;
  margin-bottom: -1000px; }

[date-range] [date-picker] .after.before {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d2322a;
  border-color: #2f6ab4 #2f6ab4 #1f4677;
  *background-color: #d2322a; }
  [date-range] [date-picker] .after.before:hover, [date-range] [date-picker] .after.before:active, [date-range] [date-picker] .after.before.active, [date-range] [date-picker] .after.before.disabled, [date-range] [date-picker] .after.before[disabled] {
    color: #ffffff;
    background-color: #d2322a;
    *background-color: #d2322a; }
  [date-range] [date-picker] .after.before:active, [date-range] [date-picker] .after.before.active {
    background-color: #d2322a \9; }

[date-picker] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #fff;
  /* GENERAL */
  padding: 4px;
  /* SPECIFIC */ }
  [date-picker].hidden {
    display: none; }
  [date-picker] table {
    margin: 0; }
  [date-picker] td, [date-picker] th {
    padding: 4px 5px;
    text-align: center;
    width: 20px;
    height: 20px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none; }
  [date-picker] .switch {
    width: 145px; }
  [date-picker] span {
    display: block;
    width: 23%;
    height: 26px;
    line-height: 25px;
    float: left;
    margin: 1%;
    cursor: pointer;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    [date-picker] span:hover {
      background: #eeeeee; }
    [date-picker] span.disabled {
      background: none;
      color: #999999;
      cursor: default; }
      [date-picker] span.disabled:hover {
        background: none;
        color: #999999;
        cursor: default; }
  [date-picker] .active, [date-picker] .now {
    color: #ffffff;
    background-color: #d2322a;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #d2322a;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); }
  [date-picker] .active:hover, [date-picker] .now:hover, [date-picker] .active:active, [date-picker] .now:active, [date-picker] .active.active, [date-picker] .now.active, [date-picker] .active.disabled, [date-picker] .now.disabled, [date-picker] .active[disabled], [date-picker] .now[disabled] {
    color: #ffffff;
    background-color: #d2322a;
    *background-color: #003bb3; }
  [date-picker] .active:active, [date-picker] .now:active, [date-picker] .active.active {
    background-color: #003399 \9; }
  [date-picker] .now {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #d2322a;
    border-color: #ee905b #ee905b #e56218;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #d2322a;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
    [date-picker] .now.active {
      background-color: #003399 \9; }
    [date-picker] .now:hover, [date-picker] .now:active, [date-picker] .now.active, [date-picker] .now.disabled, [date-picker] .now[disabled] {
      color: #ffffff;
      background-color: #d2322a;
      *background-color: #ec8044; }
    [date-picker] .now:active, [date-picker] .now.active {
      background-color: #e9712d \9; }
  [date-picker] .disabled {
    background: none;
    color: #999999 !important;
    cursor: default; }
  [date-picker] [ng-switch-when="year"] span, [date-picker] [ng-switch-when="month"] span, [date-picker] [ng-switch-when="minutes"] span {
    height: 54px;
    line-height: 54px; }
  [date-picker] [ng-switch-when="date"] td {
    padding: 0; }
  [date-picker] [ng-switch-when="date"] span {
    width: 100%;
    height: 26px;
    line-height: 26px; }
  [date-picker] th:hover, [date-picker] [ng-switch-when="date"] td span:hover {
    background: #eeeeee;
    cursor: pointer; }

/**
*
* Global
*
**/
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'fagonomedtfregular';
  background-color: #fff;
  color: #d3a1c5; }

.hiden {
  display: none; }

#main {
  display: block;
  width: 100%;
  float: left; }

.content {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto; }

.cear {
  display: block;
  clear: both; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #cccccc; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc; }

.full-image {
  display: block;
  width: 100%;
  height: auto; }

.center-image {
  display: block;
  margin: 0 auto; }

.error {
  border: 1px solid red !important;
  color: red !important; }

.clear {
  clear: both; }

.header {
  display: block;
  width: 100%;
  float: left;
  position: relative;
  background-color: #271348;
  max-height: 90px;
  padding-top: 20px; }
  .header .logo-header {
    display: block;
    float: left;
    width: 100%; }
    .header .logo-header a {
      display: block;
      float: left;
      width: 100%;
      max-width: 110px;
      margin-right: 15px; }
      .header .logo-header a img {
        width: 100%;
        height: auto;
        float: left; }
    .header .logo-header h1 {
      display: block;
      float: left;
      font-size: 16px;
      color: #fff;
      font-family: 'fagonomedtfregular';
      margin: 15px 0px; }

.home-title {
  display: block;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 50px;
  margin-bottom: 20px; }
  .home-title img {
    max-width: 100%;
    height: auto; }

.home-section {
  display: block;
  width: 100%;
  float: left; }
  .home-section .content-left {
    display: block;
    width: 66%;
    float: left;
    border: solid #a7438b 5px;
    margin: 2%; }
    .home-section .content-left img {
      display: block;
      width: 100%;
      height: auto; }
  .home-section .content-right {
    display: block;
    width: 26%;
    float: left;
    margin: 2%; }
    .home-section .content-right .main-form {
      display: block;
      width: 100%;
      float: left;
      max-width: 225px; }
      .home-section .content-right .main-form img {
        width: 100%;
        height: auto; }
      .home-section .content-right .main-form h3 {
        font-family: 'fagonoregulartfregular';
        color: #d3a1c5;
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        margin: 5px 0px; }
      .home-section .content-right .main-form .input-form {
        display: block;
        width: 100%;
        border-top: solid 2px #d3a1c5;
        border-left: solid 2px #d3a1c5;
        border-right: solid 2px #d3a1c5;
        border-bottom: none;
        padding: 5px;
        outline: 0;
        color: #cccccc;
        font-size: 13px;
        font-family: 'fagonoregulartfregular'; }
      .home-section .content-right .main-form .area {
        display: block;
        width: 100%;
        min-height: 100px;
        border-top: solid 2px #d3a1c5;
        border-left: solid 2px #d3a1c5;
        border-right: solid 2px #d3a1c5;
        border-bottom: solid 2px #d3a1c5;
        padding: 5px;
        outline: 0;
        color: #cccccc;
        font-size: 13px;
        font-family: 'fagonoregulartfregular';
        text-align: center; }
      .home-section .content-right .main-form select {
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        max-height: 31px;
        -moz-border-radius: 0px;
             border-radius: 0px;
        background-image: url(../images/select.png);
        background-position: right center;
        background-repeat: no-repeat;
        -moz-background-size: auto 100%;
             background-size: auto 100%; }
      .home-section .content-right .main-form .btn {
        display: block;
        width: 100%;
        background-color: #a7438b;
        border: none;
        color: #fff;
        padding: 10px;
        margin-top: 15px;
        font-family: 'fagonomedtfregular';
        font-size: 18px;
        margin-bottom: 10px; }

.feed-content {
  display: block;
  width: 100%;
  float: left;
  background-color: #d3a1c5; }
  .feed-content h2 {
    font-family: 'fagonoboldtfregular';
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #fff; }
  .feed-content .feed {
    display: block;
    width: 48%;
    border: solid #a7438b 2px;
    margin: 1%;
    float: left;
    max-height: 210px;
    overflow-x: hidden;
    overflow-y: scroll; }

footer {
  display: inline-block;
  width: 100%;
  background-color: #271348;
  padding-top: 20px;
  padding-bottom: 10px; }
  footer .content {
    text-align: center; }
  footer ul {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        display: block;
        margin: 5px; }
  footer .copy {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #fff;
    font-family: 'fagonoregulartfregular';
    font-size: 12px; }
    footer .copy a {
      color: #fff;
      text-decoration: none;
      -moz-transition: text-decoration 500ms ease-in-out;
      transition: text-decoration 500ms ease-in-out; }
      footer .copy a:hover {
        text-decoration: underline; }

@media (max-width: 690px) {
  .header {
    max-height: inherit;
    padding-bottom: 10px; }
    .header .logo-header a {
      float: none;
      margin: 0 auto; }
    .header .logo-header h1 {
      width: 100%;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px; }
      .header .logo-header h1 br {
        display: none; }

  .home-section .content-left {
    width: 96%; }
  .home-section .content-right {
    display: inline-block;
    width: 96%;
    float: none;
    text-align: center; }
    .home-section .content-right .main-form {
      display: inline-block;
      width: 100%;
      float: none;
      max-width: 305px; }

  .feed-content .feed {
    width: 98%;
    max-height: 215px;
    max-width: 500px;
    float: none;
    margin: 30px auto; }

  footer p {
    padding-left: 20px;
    padding-right: 20px; } }
